<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Doctor List</title>
</head>
<body>
	<h1>Doctor List</h1>
	
	<br/><br/>
	<div>
		<table border="1" style="width:300px">
			<tr>
				<td>Name</td>
				<td>Specialist</td>
			</tr>
			<tr th:each="doctor:${doctors}">
				<td th:text="${doctor.name}"></td>
				<td th:text="${doctor.specialist}"></td>
				<td>
					<a th:href="@{'/editDoctor/' + ${doctor.doctorId}}">edit</a>
					<a th:href="@{'/deleteDoctor/' + ${doctor.doctorId}}">delete</a>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<a href="/addNewDoctor">add new</a>
	</div>
	<div>
		
	</div>
</body>
</html>